img {
	width: 30%;
	
	float: left;

	margin: 1.66%;
}

h1 {
	font-family: 'Raleway';
	margin: 1.66%;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	border-bottom: 2px grey solid;
	/*width: 30%;*/
}